<!DOCTYPE html>
<html>
  <head>
    <title>Courses 24h - Admin</title>
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="../css/sb-admin.css" rel="stylesheet">
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../js/script-coureurs.js"></script>

  </head>
  <body>
    <div class="row">
      <div class="col-12 p-md-5 m-auto text-center" >
        <form action="/connexion" method="post">
          <a class="btn btn-primary" href="/admin/coureurs">EDITER COUREURS</a><br><br>
          <a class="btn btn-primary" href="/admin/equipes">EDITER EQUIPES</a><br><br>
          <a class="btn btn-primary" href="/admin/categories">EDITER CATEGORIES</a><br><br>
          <a class="btn btn-light" href="/deconnexion">DECONNEXION</a>
        </form>
      </div>
    </div>
  </body>
</html>
